
* {
    text-align: center;
}

main {
    flex-flow: column nowrap
}

.sky-sun-sky {
    flex-direction: row;
}

#sky {
    background-color: lightskyblue;
    min-height: 20vh;
}

#mountain {
    background-color: rgb(65, 32, 9);
    min-height: 2vh;
}

#greenery {
    background-color: darkgreen;
    min-height: 13vh;
}

#water {
    background-color: darkturquoise;
    min-height: 63vh;
}