
* {
    text-align: center;
}

main {
    flex-flow: column nowrap
}

.sky-sun-sky {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    min-height: 4vh;
}

#sky {
    background-color: lightskyblue;
    min-height: 20vh;
}

.sky {
    min-width: 40%;
}

.sun {
    min-width: 20%;
}

#mountain {
    background-color: rgb(65, 32, 9);
    min-height: 2vh;
}

#greenery {
    background-color: darkgreen;
    min-height: 13vh;
}

#water {
    background-color: darkturquoise;
    min-height: 63vh;
}